
<p>
  <mat-toolbar color="primary">
     <span>Task Management Tool</span>
    <span class="example-spacer"></span>
    <span class="alignLeft">
      <button mat-icon-button (click)="openDialog()" class="example-icon favorite-icon" routerLinkActive="active" aria-label="Example icon-button with heart icon">
        <mat-icon>add</mat-icon>
      </button>

      <button mat-icon-button class="example-icon" (click)="logout()" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>

    </span>

  </mat-toolbar>
</p>
